@import "tailwindcss";

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold tracking-tight;
  }
}

/* Minimalist Utilities */
.btn-icon {
  @apply p-2 rounded-full hover:bg-gray-100 transition-colors;
}